@model IEnumerable<ShopApp.Models.Category>
    @{ 
        Layout = null;
    }

<h2> Cartegory </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            <a href="/admin/updatecategory?id=@item.Id" class="btn btn-info"> Update Category</a>
        </td>
    </tr>
}
</table>
